*.cmd
*.symvers
*.o
.config
.config.old
.missing-syscalls.d
.tmp*
.version
System.map
arch/arm/include/generated
vmlinux
*.a
*.d
*.mod.*
include/config
include/generated
include/linux/version.h
arch/arm/kernel/asm-offsets.s
kernel/bounds.s
imx
cscope.files
cscope.out
tags
patches
*.swp

